@model List<MyMongoDbAjaxProject.DAL.Entities.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Kategori Listeleme Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori Girişi</a>